@using DrivingLessonsSite.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>


<section id="register" class="parallax-section" style="padding-top:2rem">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
                <h2 style="color:#f2545f">Customer Log in</h2>
                <br />    
                <h3>Don't have an account yet?  No worries Register @Html.ActionLink("here", "Register", "Account", new { @style = "color:#f2545f;" }) to book lessons.</h3>
                <br />

            </div>
            <br />
            <br />

            <div class="row">
                <div class="col-md-8">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            //<h4>Use a local account to log in.</h4>
                            <h4>Welcome back!</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            //Enable this once you have account confirmation enabled for password reset functionality
                            <div style="position: relative;left: 140px;">
                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @style = "color:#f2545f" })
                                </p>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Log in" class="btn btn-default" />
                                </div>
                            </div>

                        }
                    </section>
                </div>
                @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
            </div>
</div>
        </div>
    </section>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
